.git
.gitignore

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

Dockerfile
docker-compose*.yml
.docker
.github
.gitlab-ci.yml

.vscode/
.idea/
.DS_Store
Thumbs.db

.env
*.log